.text {

	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	margin: 15px;
	justify-self: unset;
	text-align: justify;
	min-width: 250px
}

.textvideos {

	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	background-color: brown;
	color: white;
	text-align: center;
	
}